# ==================================================================================== #
#                                         BUILD                                        #
# ==================================================================================== #
*.egg-info
build

# ==================================================================================== #
#                                        CACHES                                        #
# ==================================================================================== #
__pycache__
.ruff_cache
.mypy_cache

# ==================================================================================== #
#                                         TESTS                                        #
# ==================================================================================== #
tmp_vepain
