# ==================================================================================== #
#                                         BUILD                                        #
# ==================================================================================== #
*.egg-info

# ==================================================================================== #
#                                        CACHES                                        #
# ==================================================================================== #
__pycache__
.ruff_cache
